/* fraunces-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/fraunces-v31-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* barlow-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v12-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* barlow-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/barlow-v12-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", "sans-serif";
    font-size: 18px;
    line-height: normal;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

/* Header */


header {
    margin-top: 10px;
}

.container {
    display: flex;
    width: 1440px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 auto;
    padding: 44px 80px;
}

.nav__list {
    display: flex;
}

.nav__item {
    padding-left: 33px;
}


li,
a {
    list-style: none;
    text-decoration: none;
}

.nav--link {
    color: #83888F;
    font-family: "Barlow";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
}

.nav--link:hover {
    color: #333D4B;
}

/*Main*/

.great .container {
    background: url("../img/Group7.png");
    width: 1280px;
    height: 450px;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0 auto;
}

.great__box {
    width: 493px;
    margin-top: -65px;
}

.great__heading__1 {
    color: #FEFCF7;
    font-family: "Fraunces";
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
}

.great__text {
    width: 445px;
    color: #FEFCF7;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}


/*Commit*/

.commit .container {
    width: 1280px;
    justify-content: space-between;
}


.commit__heading--2 {
    color: #333D4B;
    font-family: "Fraunces";
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
}

.commit__text {
    width: 539px;
    color: #333D4B;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;
}



/*Quaity*/

.quality .container {
    background: url("../img/balck.png");
    width: 1280px;
    height: 450px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 244px;
    padding: 0 auto;
}

.quality__heading__3 {
    color: #FEFCF7;
    font-family: "Fraunces";
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    margin: 0;
    margin-top: -55px;
    margin-bottom: 32px;
    padding: 0;
}

.quality__text {
    width: 540px;
    color: #FEFCF7;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;
}

.quality__img {
    margin: 0;
    margin-top: -150px;
    padding: 0;
}



/* Unitad */


.united .container {
    display: block;
}

.unitad__heading__4 {
    color: #83888F;
    font-family: "Fraunces";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    margin: 0;
    margin-top: 168px;
    margin-bottom: 72px;
    padding: 0;
}

.united__heading__5 {
    color: #333D4B;
    font-family: "Fraunces";
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    margin: 0;
    margin-top: 46px;
    margin-bottom: 24px;
    padding: 0;
}

.united__text {
    width: 285px;
    color: #333D4B;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.united__list {
    width: 1045px;
    display: flex;
    gap: 95px;
}

.united__item {
    width: 855px;
}

/*Footer */

footer {
    background-color: #2C343E;
    margin-top: 200px;
    margin-left: -70px;
}

.footer .container {
    width: 1280px;
    background-color: #2C343E;
    justify-content: start;
    
}

.footer__link:hover {
    color: #FFF;
}

.footer__box {
    margin-left: 400px;
}

.footer--link {
    padding-left: 10px;
}

path:hover {
    fill: #FDD6BA;
}